{% extends 'base.html' %}

{% block title %}
    Pesquisar MODs
{% endblock %}

{% block body %}
    <div>
        <h6>Realize a pesquisa de mods para criar sua modpack</h6>
        <form action="{{ request.path }}" method="get">
            <label>
                <input type="text" name="search" value="{{ search_value }}">
            </label>
            <button type="submit"><i class="bi bi-search"></i></button>

            {% if mods %}
                <div>
                    {% for mod in mods %}
                        <div style="display: flex; flex-direction: row">
                            <img src="{{ mod['mod_icon'] }}" alt="" height="50px" width="50px">
                            <div>
                                <p>{{ mod['mod_name'] }} by <strong>{{ mod['mod_author'] }}</strong></p>
                                <div style="display: flex; flex-direction: row">
                                    <p>Last File for {{ mod['lasted_on_version_file']['game_version'] }}</p>
                                    <a href="{{ mod['lasted_on_version_file']['download_url'] }}">{{ mod['lasted_on_version_file']['file_name'] }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if pagination %}
                <div style="display: flex; flex-direction: row">
                {% for page in pagination %}
                    <button type="submit" name="pagination" value="{{ page }}"
                            {% if request.args.get['pagination'] == page %} disabled {% endif %}>{{ page }}</button>
                {% endfor %}
            </div>
                {% else %}
                <input type="hidden" name="pagination" value="1">
            {% endif %}
        </form>
    </div>
{% endblock %}